*.db
*.bmp
*.jpg
*.png
*.avi
*.mp4
*.vcxproj
*.vcxproj.filters
*.vs

/Test/Debug/
/Test/x64/
/Test/Test/Debug/
/Test/Test/x64/

/template_matching_tracking/template_matching_tracking/Debug/
/template_matching_tracking/template_matching_tracking/ipch/
/template_matching_tracking/template_matching_tracking/x64/
/template_matching_tracking/template_matching_tracking/template_matching_tracking/Debug/
/template_matching_tracking/template_matching_tracking/template_matching_tracking/x64/


/template_matching_tracking/template_matching_tracking-C++/Debug/
/template_matching_tracking/template_matching_tracking-C++/ipch/
/template_matching_tracking/template_matching_tracking-C++/x64/
/template_matching_tracking/template_matching_tracking-C++/template_matching_tracking-C++/Debug/
/template_matching_tracking/template_matching_tracking-C++/template_matching_tracking-C++/x64/

/KCFcpp/test_KCF/Debug/
/KCFcpp/test_KCF/x64/
/KCFcpp/test_KCF/test_KCF/Debug/
/KCFcpp/test_KCF/test_KCF/x64/

/test_remake_KCF/x64/
/test_remake_KCF/Debug/
/test_remake_KCF/test_KCF/x64/
/test_remake_KCF/test_KCF/Debug/